.row.footer {
  margin-bottom: 0;
  padding: 0 20px;
}

footer {
  height: 44px;
  color: #4A4A4A;

  a {
    text-decoration: none;
    color: #4A4A4A;

    &:hover {
      opacity: 0.8;
    }
  }

  .nav-brand {
    margin: 5px 0 0 0;
  }
}
