$barColor: #FEB1A3;
$overlayColor: tomato;
$backColor: white;

.progress-radial {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px #ecf0f1 solid;
}

.progress-radial .overlay {
  position: absolute;
  background-color: $overlayColor;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

$step: 1.0;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
    } @else {
      $nextdeg: -90deg + ($increment * ( $i - $half ));
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
    }
  }
}
