@import "progress-bar";

#timer {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ECF0F1;
}

.timer-wrapper {
  margin-top: 15%;
}

#counter-container {
  margin-top: 30%;
}

.counter {
  text-align: center;
  font-size: 70px;
  margin: 30px 0;
}

.controls {
  text-align: center;

  i {
    @extend .fa-3x;
    cursor: pointer;
    margin: 0 10px;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-delay: 0s;
  }
}

@media screen and (max-width: 380px) {
  #timer {
    margin-bottom: 40px;
  }

  .timer-wrapper {
    margin-top: -1%;
  }

  #counter-container {
    margin-top: 23%;
  }

  .progress-radial {
    width: 260px;
    height: 260px;
  }

  .progress-radial .overlay {
    width: 235px;
    height: 235px;
    margin-left: 11px;
    margin-top: 11px;
  }
}
