<div id="content" class="row">
  <div class="col half">
    {{outlet "timer"}}
  </div>

  <div class="col half">
    {{outlet "tasks"}}
  </div>
</div>

<div class="row footer">
  <footer class="col whole">
    <div class="left">
      <a href="https://twitter.com/willrax"><i class="fa-twitter fa-2x"></i></a>
      <a href="https://github.com/willrax/emberdoro"><i class="fa-github fa-2x"></i></a>
    </div>

    <h3 class="nav-brand right">
      <a href="http://pomodorotechnique.com/">What is this?</a>
    </h3>
  </footer>
</div>
