<div class="row">
  <div id="navigation" class="col whole">
    <h3 class="brand">Emberdoro</h3>
  </div>
</div>

<div class="row">
  <div class="col half">
    {{outlet "timer"}}
  </div>

  <div class="col half">
    {{outlet "tasks"}}
  </div>
</div>
